$color-light-xxl: #EFEFEF; // бэкграунд для css поля
$color-light-xl: #A39F99; // цвет для тайтлов в контролс
$color-light-l: #6D6A65; // основной цвет серого для тайтла и текста в контролс
$color-light-m: #3E3B36; // цвет для кнопки хелп, каптиона, стрелочек, и бургера
$color-light-s: #2E2A23; // бэкграунд для игрового поля
$color-dark-s: #27241E; // бэкграунд для хедлайна в едиторе
$color-dark-m: #201D18; // бэкграунд для кнопки хелп и хтмл поля
$color-dark-l: #1E1B17; // бордер для едитора
$color-dark-xl: #1B1813; // бэкграунд контролс
$color-dark-xxl: #100E0B; // полоска контролс