.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  color: $color-light-l;
  background: $color-light-s;

  &__github {}

  &__year {
    font-size: 24px;
  }

  &__logo {
    img {
      max-width: 100px;
      width: 100%;
    }
  }
}