.header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 375px);
  padding: 0 10px;
  color: $color-light-l;
  background: $color-light-s;

  &__title {
    margin: 0;
    font-size: 18px;
    display: inline-block;
    position: relative;

    &::before {
      content: url('../favicon_io/favicon.png');
      position: relative;
      top: 8px;
      margin: 0 10px 0 0;
    }
  }

  &__reset-button {
    padding: 3px;
    font-size: 14px;
    color: $color-light-xxl;
    border: 2px solid $color-light-xxl;
    background-color: brown;
  }
}