* {
  box-sizing: border-box;
}

.css-diner {
  display: flex;
  justify-content: space-between;
  background: #2E2A23;

  &__game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0 30px 0;

  }

  &__task {
    margin: 0 0 30px 0;
    font-size: 44px;
    text-align: center;
    color: $color-light-l;

  }

  &__help-btn {
    margin: 0 0 45px 0;
    padding: 8px 15px 10px 15px;
    border: none;
    border-radius: 25px;
    color: $color-light-l;
    background: $color-dark-m;
  }

  &__table-wrapper {
    margin: 0 0 60px 0;
  }

  &__table {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    min-width: 275px;
    min-height: 100px;
    padding: 15px 15px 15px;
    background: #CF8E27;

    div._hover {
      box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.55);
    }
  }

  &__table-edge {
    position: relative;
    min-width: 275px;
    border-top: 10px solid #8A5D16;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  &__table-leg {
    position: absolute;
    bottom: -6px;
    width: 25px;
    height: 6px;
    background: #6A460C;

    &_left {
      left: 15px;
    }

    &_right {
      right: 15px;
    }
  }

  &__text-editor {
    display: flex;
    margin: 0 20px 0 20px;
    border: 10px solid $color-dark-l;
    border-radius: 5px;
  }

  &__css-editor {
    flex: 0 0 50%;
    min-width: 330px;
    display: flex;
    flex-wrap: wrap;

    background: $color-light-xxl ;
  }

  &__headline {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    padding: 10px 15px;
    color: $color-light-xl;
    background: $color-dark-s;
  }

  &__heading {}

  &__caption {}

  &__line-numbers {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;

    p {
      text-align: end;
    }

    &_css-numbers {
      color: #999999;
      background: #dddddd;
    }

    &_html-numbers {
      color: #666666;
    }
  }

  &__css-field {
    flex: 1 1 auto;
  }

  &__answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 5px;
  }

  &__input {
    width: 100%;
    font-family: monospace;
    font-size: 1.2em;
    background: inherit;

    &_strobe {
      animation: input-strobe 1s infinite;
      animation-delay: 0s;
    }
  }

  &__enter-btn {
    font-family: monospace;
    border: 2px solid gray;
    border-bottom: 6px solid gray;
    font-size: 0.8em;

    &:hover {
      cursor: pointer;
    }
  }

  &__html-viewer {
    flex: 1 1 50%;
    display: flex;
    flex-wrap: wrap;
    min-width: 280px;
  }

  &__html-field-wrapper {
    color: rgba(255, 255, 255, .3);
    font-family: monospace;
    font-size: 16px;
  }

  &__html-field {
    div {
      cursor: default;
      margin: 0 0 2px 0;
    }

    div._hover {
      color: $color-light-xxl;
    }

  }

  &__help {
    width: 375px;
    background: $color-dark-xl;
  }

  @media (max-width: 1045px) {
    &__help {
      display: none;
    }
  }

  @media (max-width: 767px) {
    &__text-editor {
      flex-wrap: wrap;
    }

    &__html-viewer {
      flex: 0 0 100%;
      order: 1;
    }

    &__css-editor {
      flex: 0 0 100%;
      order: 2;
    }
  }
}



.help {
  min-width: 375px;
  padding: 20px;
  color: $color-light-l;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;

    font-size: 25px;
  }

  &__levels {
    display: flex;
    gap: 4px;
  }

  &__curent-level {}

  &__max-levels {}

  &__level-state {
    position: relative;
    left: 5px;
    width: 30px;
    height: 30px;

    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 3px;
      top: 50%;
      transform: rotate(45deg);
      background-color: $color-light-xl;
    }

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 3px;
      top: 40%;
      left: 4px;
      transform: rotate(-45deg);
      background-color: $color-light-xl;
    }

    &._done {
      &::before {
        background-color: green;
      }

      &::after {
        background-color: green;
      }
    }

  }

  &__contols {
    display: flex;
    gap: 15px;
    font-size: 32px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      color: #343029;
      border: 3px solid #343029;
      background: inherit;
      cursor: default;

      &._active {
        color: inherit;
        border-color: $color-light-l;
        cursor: pointer;
      }
    }
  }

  &__prev-level {}

  &__next-level {}

  &__burger {
    display: block;
    position: relative;
    top: 5px;
    z-index: 5;
    width: 30px;
    height: 22px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    >span,
    &::before,
    &::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: $color-light-l;
    }

    &::before,
    &::after {
      content: "";
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    >span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    color: $color-light-xl;
  }

  &__subtitle {
    margin: 0 0 15px 0;
  }

  &__syntax {
    display: inline-block;
    margin: 0 0 15px 0;

    padding: 3px 6px;
    font-size: 24px;
    color: $color-light-xl;
    background: rgba(255, 255, 255, 0.1);
  }

  &__promt {
    margin: 0 0 45px 0;
    line-height: 170%;
  }

  &__tit {
    margin: 0 0 10px 0;
    font-weight: bold;
    color: $color-light-xl;
  }

  &__list {}

  &__example {
    line-height: 160%;
    padding: 10px 0 12px 0;
  }
}