@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'vendors/bootstrap';

@import 'base/reset';
@import 'base/normalize';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';

@import 'components/buttons';
@import 'components/carousel';
@import 'components/cover';
@import 'components/css-dinner-components.scss';

@import 'components/dropdown';

@import 'pages/home';

@import 'themes/theme';
@import 'themes/admin';

html,
body {
  height: 100%;
}

.container {
  margin: 0px auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.header {}

.main {
  flex: 1 1 auto;
}

.footer {}